<div class="login-header" ng-cloak>
    <md-content layout="column" layout-fill>

            <md-toolbar layout="row" ng-cloak layout-fill md-dynamic-height md-center-tabs>
                <div flex layout="row" layout-align="space-around center">
                    <md-button class="menu" layout-fill aria-label="show menu" ng-click="goLogin()"> Logowanie </md-button>
                    <md-button class="menu" layout-fill aria-label="show menu"> O Aplikacji </md-button>
                    <md-button class="menu" layout-fill aria-label="show menu" ng-click="goRegistration()"> Rejestracja </md-button>
                    <md-button class="menu" layout-fill aria-label="show menu"> Kontakt </md-button>
                </div>
            </md-toolbar>
        </md-content>

    </div>
</div>