<!--<div layout="column" layout-fill layout-align="center center" md-scroll-y>-->

<md-content layout-align="center center">

    <md-card layout-align="center center" layout-fill md-padding>

        <md-card-title>Wyjazdy</md-card-title>
        <md-card-media layout-fill>

            <md-list layout-fill>
                <md-list-item class="md-2-line" md-whiteframe="1">

                    <div class="md-list-item-text" layout="row" layout-align="start center">
                        <span flex>Nazwa</span>
                        <span flex>zaloga</span>
                        <span flex>data wyjazdu</span>
                        <span flex>notatka</span>
                    </div>

                </md-list-item>
                <md-list-item class="md-2-line" md-whiteframe="1"
                              ng-repeat="action in actions.allActions">

                    <div class="md-list-item-text" layout="row" layout-align="start center">
                        <span flex ng-bind="action.name"></span>
                        <span flex ng-bind="action.firemens"></span>
                        <span flex ng-bind="action.incident_date"></span>
                        <span flex ng-bind="action.note"></span>
                    </div>

                </md-list-item>

            </md-list>

        </md-card-media>

    </md-card>

</md-content>

<button class="md-fab md-accent md-fab-bottom-right docs-scroll-fab md-button md-ink-ripple scrolling"
        type="button"
        ng-click="addNewAction()"
        aria-label="add new course">
    <md-icon>add</md-icon>
</button>
<!--</div>-->
