<div layout="row" layout-fill>

    <div layout="column" layout-fill layout-align="center center" md-scroll-y>

        <md-content layout-align="center center">

                <div layout="column" layout-align="center center" class="md-padding">

                    <div layout="row"
                         layout-align="center center"
                         layout-wrap>

                        <md-card layout-align="center center"
                                  ng-repeat="car in cars.allCars">

                            <md-card-title>
                                <div layout="column" layout-align="space-around center">
                                <span class="md-headline" ng-bind="car.name"></span>

                                    <div layout="row">
                                        <div class="md-padding">Numer rejestracyjny:</div>
                                        <span class="md-padding md-subhead" ng-bind="car.registration_number"></span>
                                    </div>
                                    <div layout="row">
                                        <div class="md-padding">Przegląd do:</div>
                                        <span class="md-padding md-subhead" ng-bind="car.servicing_to"></span>
                                    </div>
                                    <div layout="row">
                                        <div class="md-padding">Pozostało:</div>
                                        <div class="md-padding md-subhead md-warn" ng-class="{'cars__warn': daysLeft(car.servicing_to) < 30}"> {{daysLeft(car.servicing_to)}} </div>
                                    </div>
                                </div>
                            </md-card-title>

                            <md-card-title-media>
                                <div class="md-media-sm card-media"></div>
                            </md-card-title-media>

                            <md-card-actions>
                                <md-button
                                        class="md-raised md-primary"
                                        ng-click="showEditCar(event, car)">Edytuj</md-button>
                                <md-button
                                        class="md-raised md-warn"
                                        ng-click="deleteCar(car)">Usuń</md-button>
                            </md-card-actions>

                        </md-card>

                    </div>

                </div>

        </md-content>
    </div>

    <button class="md-fab md-fab-bottom-right docs-scroll-fab md-button
                   md-ink-ripple scrolling"
            ng-click="addNewCar()"
            aria-label="add new medical">
        <md-icon class="font-white">add</md-icon>
    </button>


</div>

