<md-dialog aria-label="Mango (Fruit)">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Dodaj</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    X
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">

                <md-input-container>
                    <label>Nazwa</label>
                    <input ng-model="newAction.name">
                </md-input-container>

                <div>
                    <div>Data wyjazdu</div>
                    <md-datepicker ng-model="newAction.incident_date" md-open-on-focus></md-datepicker>
                </div>

                <md-input-container>
                    <label>strazacy</label>
                    <input ng-model="newAction.firemens">
                </md-input-container>

                <md-input-container>
                    <label>notatka</label>
                    <input ng-model="newAction.note">
                </md-input-container>

            </div>


            </button>

        </md-dialog-content>

        <md-dialog-actions layout="row">

            <md-button ng-click="addAction()" class="md-raised md-cornered md-primary">
                Dodaj
            </md-button>

        </md-dialog-actions>
    </form>
</md-dialog>