<md-dialog aria-label="Badania Lekarskie">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Dodaj</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">X</md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">

                <md-input-container>
                    <label>Nazwa</label>
                    <input ng-model="newCourse.name">
                </md-input-container>

                <div flex-gt-xs>
                    <div>Data kursu</div>
                    <md-datepicker ng-model="newCourse.date_course" md-placeholder="12/11/2017" md-open-on-focus></md-datepicker>
                </div>

                <!--<div flex-gt-xs>-->
                    <!--<div>Ważność do</div>-->
                    <!--<md-datepicker ng-model="newCourse.date" md-placeholder="12/11/2017" md-open-on-focus></md-datepicker>-->
                <!--</div>-->

                <div flex-gt-xs>
                    <div>Ważność do</div>
                    <md-datepicker ng-model="newCourse.expiry_date" md-placeholder="12/11/2017" md-open-on-focus></md-datepicker>
                </div>

                <div flex-gt-xs>
                    <div>Badania medyczne od</div>
                    <md-datepicker ng-model="newCourse.medical_examination_from" md-placeholder="12/11/2017" md-open-on-focus></md-datepicker>
                </div>

                <div flex-gt-xs>
                    <div>Badania medyczne do</div>
                    <md-datepicker ng-model="newCourse.medical_examination_to" md-placeholder="12/11/2017" md-open-on-focus></md-datepicker>
                </div>

            </div>

        </md-dialog-content>

        <md-dialog-actions layout="row">

            <md-button ng-click="addMedical()" class="md-raised md-cornered md-primary">
                Potwiedź
            </md-button>

        </md-dialog-actions>
    </form>
</md-dialog>