<md-dialog aria-label="Badania Lekarskie">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Dodaj</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">X</md-button>
            </div>
        </md-toolbar>


        <md-dialog-content>
            <div class="md-dialog-content">

                <md-input-container>
                    <label>Nazwa</label>
                    <input ng-model="newMedical.name">
                </md-input-container>

                <div flex-gt-xs>
                    <div>Data badania</div>
                    <md-datepicker ng-model="newMedical.examination_date" md-placeholder="12/11/2017" md-open-on-focus></md-datepicker>
                </div>

                <div flex-gt-xs>
                    <div>Ważność od:</div>
                    <md-datepicker ng-model="newMedical.start_date" md-placeholder="12/11/2017" md-open-on-focus></md-datepicker>
                </div>

                <div flex-gt-xs>
                    <div>Ważność do:</div>
                    <md-datepicker ng-model="newMedical.end_date" md-placeholder="12/11/2017" md-open-on-focus></md-datepicker>
                </div>

            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">

            <md-button ng-click="addMedical()" class="md-raised md-cornered md-primary">
                Dodaj
            </md-button>

        </md-dialog-actions>
    </form>
</md-dialog>