<md-dialog aria-label="Mango (Fruit)">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Edytuj: {{cars.selectedCar.name}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    X
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">

                <md-input-container>
                    <label>Nazwa</label>
                    <input ng-model="cars.selectedCar.name">
                </md-input-container>

                <md-input-container>
                    <label>numer rejestracyjny</label>
                    <input ng-model="cars.selectedCar.registration_number">
                </md-input-container>

                <div>
                    <div>Przegląd do</div>
                    <md-datepicker ng-model="cars.selectedCar.servicing_to" md-open-on-focus></md-datepicker>
                </div>

                <div>
                    <div>Ubezpieczenie do</div>
                    <md-datepicker ng-model="cars.selectedCar.insurance_date" md-open-on-focus></md-datepicker>
                </div>

            </div>


            </button>

        </md-dialog-content>

        <md-dialog-actions layout="row">

            <md-button ng-click="editCar()" class="md-raised md-cornered md-primary">
                Dodaj
            </md-button>

        </md-dialog-actions>
    </form>
</md-dialog>