<div class="login-wrapper">
    <div layout="flex" layout-fill ng-cloak>

        <!--<md-content>-->
            <md-sidenav flex="15" md-is-locked-open="true" >

            <section layout="column" flex layout-align="center center" class="login">
                <div ng-repeat="fireman in firemen.allFiremen">

                    {{fireman.name}}
                    {{fireman.surname}}

                </div>
            </section>
            </md-sidenav>
        <!--</md-content>-->

        <md-content>

            <md-button ng-click="addNewFireman($event)">Dodaj nowego strażaka</md-button>

        </md-content>


    </div>
</div>