.login-header {
    height: 60px;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    z-index: 2000;
}

.md-sidenav-backdrop {
    top:60px;
    position: fixed;
}

.md-sidenav-left {
    position: fixed;
    top:60px;
    overflow: hidden;
}

md-pagination-wrapper, md-tabs-canvas {
    height: 60px;
}
