<!--<div>main.html.erb</div>-->
<div ui-view="headerView"></div>

<div class="main-wrapper">
  <div ui-view="mainView" class="main-view"></div>
</div>

<div ng-include="'footer/_footer.html'"></div>
<!--<div ng-include="'views/public/app_alert'"></div>-->

<div ui-view="errorView"></div>
